.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer";
}

body {
    background-color: cornsilk;
}

header {
  text-align: center;
  font-family: Georgia;
  font-size: 20px;
  grid-area: header;
  height: 100px;
  background-color: pink;
  color: white;
  }
}

fieldset{
    margin-top: 50px;
    width: 50%;

}

header h1 {
  margin: 0;
  padding: 25px;
}

img {
    height: 200px;
    width: 200px;
}

button {
    background-color: lightblue;
}

form input,
form label,
form textarea {
    box-sizing: border-box;
    display: block;
    margin: 5px 0;
    width: 50%;
}

@media (max-width: 499px) {
    header {
        margin-top: 0;
        padding-top: 0;
        height: 50px;
        font-size: 12px;
        padding-bottom: 50px;
    }
}