.container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "form form main main"
    "footer footer footer";
}

body {
    background-color: cornsilk;
}

header {
  text-align: center;
  font-family: Georgia;
  font-size: 20px;
  grid-area: header;
  height: 100px;
  background-color: pink;
  color: white;
}

fieldset{
  margin-top: 50px;
  width: 75px;
}

form input,
form label,
form textarea {
    grid-area: form;
    box-sizing:border-box;
    display: block;
    margin: 5px 0;
}
header h1 {
  margin: 0;
  padding: 25px;
}

h2,
h3,
h4 {
    font-weight: lighter;
    font-family: Georgia;
    color: black;
}

ul {
    list-style: none;
    
}

img {
    height: 150px;
    width: 150px;
    position: under;
}

button {
    background-color: lightblue;
}


@media (max-width: 499px) {
    header {
        grid-column: 1fr;
        margin-top: 0;
        padding-top: 0;
        height: 50px;
        font-size: 12px;
        padding-bottom: 50px;
    }
}